doctype html
html(lang="en", data-ng-app="tictactoe", ng-cloak)
  head
    include partials/_head

  body

    #main.container-fluid
      include partials/game

    include partials/_scripts
    //- inject:js
    //- endinject
