meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

meta(name='description', content='A Tic Tac Toe Game')
meta(name='keywords', content='app, tic, tac, toe')

title Tic Tac Tow Hitch

link(rel='stylesheet', href='css/app.css')
