.gameover(ng-show="game.status == 'over'")

  h3 Game Over
  h5
    span(ng-hide="game.tie")
      span.won(ng-show="game.winner.piece == player.piece")
        | Congrats {{game.winner.name}}, you've won!
      span.lost(ng-show="game.winner.piece != player.piece")
        | You have lost to the brilliant mind of {{game.winner.name}}.
    span.tied(ng-show="game.tie") You have fallen to mediocrity. You are awarded a tie.  Which is the equivalent of a participation ribbon.
  br
  br
  a(href="#", ng-click="playAgain()") Play Again?